body {
    background-image: url('ballons1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;


}

.sidemargin {
    margin-right: 10px;
    margin-left: 10px;
}

.content {
    max-width: 960px;
    margin: auto;
}

.back {
    background-color: rgba(0,0,0, 0.5);
    margin-top: 50px;
    margin-bottom: 50px;

    padding-bottom: 1000px;

    height: 100%;
}

.image {
    margin-top: 25px;
    margin-bottom: 25px;

}

.image:hover {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.name {
    color: #78c3e9;
    text-shadow:2px, 2px, 50px, #000;
    text-decoration: dotted;
}

.bordi {
    border-bottom-style: double;
    border-color: #ccc;
    margin: 20px;
}

.bigger {
    font-size: 100px;
}

.font-color {
    color: #fff;
    margin: 20px 20px 20px 20px;
}

.textlook {
    font-size: 1.3em;
}

ul {
    font-style: italic;
}

p, ul, h2 {
    font-family: Verdana, Geneva, sans-serif;
}

.workplace {
    text-decoration: underline;
}



